body{
    background-color: #f5f7fa; /* 使用你喜欢的颜色值 */
    margin: 0; /* 移除默认边距确保全屏覆盖 */
    min-height: 100vh; /* 确保至少覆盖整个视口高度 */
}

.completed {
    text-decoration: line-through;
    color: #999; /* 可选：添加灰色使完成项更明显 */
}

div{
    width: 250px; /* 必须指定宽度 */
    margin: 0 auto; /* 左右宽度自动，上下填满 */
}


.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6d8d65;
    color: rgb(207, 189, 83);
    padding: 12px 24px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(214, 213, 214, 0.8);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1000;
  }
  
  .toast.show {
    opacity: 1;
  }

.summary,.behaviorChar{
    width: 600px;
    height: 400px;
    margin: 30px auto;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }